* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 1024px;
}

h1 {
    background: #AB7600FF;
}

h2 > a {
    background: #FFAF00;
    color: #000000;
}

p {
    background: #fdc24a;
    color: #000000;
    text-align: left;
}

ul > li {
    background: #3efc0a;
    color: #000000;
    list-style: none;
    text-align: left;
}

img {
    min-width: 200px;
    max-width: 400px;
}